:root {
    --primary-color: #174da4;
    /*Polynesian blue*/
    --secondary-color: #fffcf2;
    /*Floral white*/
    --accent1-color: #151514;
    /*Timberwolf*/
    --accent2-color: #eb5e28;
    /*Eerie black*/
    --heading-font: "limelight", serif;
    --body-font: "red-hat-text", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--accent1-color);
}

body {
    font-family: var(--body-font);
}

header,
main,
footer {
    width: auto;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    background-color: var(--accent2-color);
}

nav {
    display: flex;

}

.navigation {
    display: flex;
    flex-flow: row;
}

.navigation li {
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex: 1 1 auto;
    font-weight: bold;

}

.navigation a {
    display: block;
    padding: 30px;
    font-family: var(--body-font);
    color: var(--accent1-color);
    font-size: large;

}
/* The Menu*/
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.social_media a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

article img {
    display: inline-block;
    width: 200px;
    float: right;
    background-color: var(--accent2-color);

article h3 {
    opacity: 0;
}

.history {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* Pictures */
.adventure h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.adventure {
    display: flex;
    flex-flow: row wrap;
}

.adventure img {
    width: 300px;
    height: auto;
}
/* Captions of images */
.adventure figure {
    border: thin;
    padding: 5px;
    margin: auto;
}

.adventure figcaption {
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    padding: 3px;
    opacity: 0.8;
}

/*This area is for the CONTACT space*/
/*Contact Information Area*/
.contact h2{
    display: block;
    text-align: center;
}

.contact ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    text-align: center;
}

.contact li{
    padding: 1rem;
}

/*The Maps area*/

.map {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/*Meet our team area*/

.team {
    padding: 20px;
    text-align: center;
}

.team h2 {
    margin-bottom: 30px;
    color: var(--primary-color);
}

.team-members {
    display: flex;
    justify-content: space-around;
    gap:20px;
    margin: 0 auto;
    max-width: 1200px;
}

.team figure {
    flex: 1;
}

.team img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.team figcaption {
    margin-top: 10px;
    font-size: 1em;
    color: var(--accent1-color);
}

/*The Feedback Form*/

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    background-color: lightsteelblue;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-family: var(--body-font), serif;
    font-size: 1.2rem;
    display: grid;
}

fieldset {
    display: grid;
    border: none;
    padding: 0;
    margin: 0 auto;
    grid-gap: 0.5rem;
}

legend {
    padding: 0.5rem;
    font-size: 2em;
}

label {
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    gap: 10px;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}

input [type="radio"] {
    width: 22px;
    height: 22px;
}

textarea {
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: .5rem;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: navy;
}

.form-item {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 3fr;
}

/* Footer Section */
footer {
    background-color: var(--accent2-color);
    padding: 16px;
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    align-items: center;
}

footer p {
    text-align: center;
    margin: 0;
    grid-column: 2;
}

footer .social_media {
    display: flex;
    gap: 10px;
    grid-column: 3;
}

footer .social_media img{
    width: 45px;
    height: 45px;
}