:root {
    --primary-color: #174da4;
    /*Polynesian blue*/
    --secondary-color: #fffcf2;
    /*Floral white*/
    --accent1-color: #151514;
    /*Timberwolf*/
    --accent2-color: #eb5e28;
    /*Eerie black*/
    --heading-font: "limelight", serif;
    --body-font: "red-hat-text", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--accent1-color);
}

body {
    font-family: var(--body-font);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    background-color: var(--accent2-color);
}

nav {
    display: flex;

}

.navigation {
    display: flex;
    flex-flow: row;
}

.navigation li {
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    flex: 1 1 auto;
    font-weight: bold;

}

.navigation a {
    display: block;
    padding: 30px;
    font-family: var(--body-font);
    color: var(--accent1-color);
    font-size: large;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.social_media a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

article img {
    display: inline-block;
    width: 200px;
    float: right;
    background-color: var(--accent2-color);
}

article h3 {
    opacity: 0;
}

.history {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* Pictures */
.adventure h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.adventure {
    display: flex;
    flex-flow: row wrap;
}

.adventure img {
    width: 300px;
    height: auto;
}
/* Captions of images */
figure {
    border: thin;
    padding: 5px;
    margin: auto;
}

figcaption {
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    padding: 3px;
    opacity: 0.8;
}
/* Footer Section */
footer {
    background-color: var(--accent2-color);
    padding: 16px;
    text-align: center;
}

.social_media p {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.social_media a {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 10px;
    align-content: end;

}